.text__image img {
    max-width: 100%;
}

.img2 {
    width: 1300px;
    height: 400px;
}

.img1 {
    width: 800px;
    height: 400px;
}

.img3 {
    width: 200px;
    height: 200px;
}

.img4 {
    width: 200px;
    height: 200px;
}

.img5 {
    width: 200px;
    height: 200px;
}

.vertical__row {
    display: flex;
}

.vertical__imag {
    margin: 20px;
}

.vertical__imag img {
    max-width: 100%;
    object-fit: fill;
}