body {
    padding: 30px;
}

$fz: 80px;

%tplborder {
    border-bottom: 5px dashed red;
    font-size: 100px;
}

.block {
    font-size: 30px;
    line-height: 20px;
    span {
        color:red;
    }
    .block-text {
        font-size: $fz;
    }
}
.link {
    color: aqua;
    margin: 220px 220px 220px 220px;
    &:hover {
        color: black;
    }
    @extend %tplborder;
}