body {
    padding: 100px 400px 0px 400px;
}

.heading {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700px;
    text-transform: uppercase;
    margin: 0px -50px 0px 0px;
}


.block-list ol{
    font-size: 20px;
    margin: 0px 0px 15px -60px;
   
}

.block-list ol::before {
    content: " ";
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    background-color: aqua;
    margin: 0px 10px 0px -30px;
}

.block-list ol:hover:before {
    background-color: crimson;
}

.list ol {
    background: url(img1.png)left no-repeat;
    padding: 0px 0px 0px 50px;
}

.block-list2 ol{
    font-size: 20px;
    margin: 0px 0px 15px -60px ;
    background: url(img1.png)left no-repeat;
}

.block-list2 ol:hover:before {
    background-color: crimson;
}

.block-list2 ol::before {
    content: " ";
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    background-color: aqua;
    margin: 0px 10px 0px -30px;
}


.list2 ol {
    background: url(img1.png)left no-repeat;
    padding: 0px 0px 0px 50px;
}

.block-list ol:nth-child(1) {
    text-decoration: line-through;
}

.block-list ol:nth-child(2) {
    font-weight: 700;
    
}

.block-list ol:nth-child(3) {
    font-style: italic;  
}

.block-list ol:nth-child(4) {
    text-transform: uppercase;
}

.link:hover{
    color:red;
}

.block-subit {
    padding: 100px 150px 50px 0px;
}

.subit {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    line-height: 44px;
    width: 225px;
    height: 44px;
    padding: 0px ;
    border-radius: 30px;
    background-color: rgb(56, 221, 185);
    color: aliceblue;
    margin: 0px 0px 0px 30px;
}

.subit:hover {
    background-color: #137c77;
}

.subit:active {
    background-color: #636e6c;
}

.block-text {
    font-size: 20px;
}

.text1::first-line {
    color: red;
}

.text2::first-letter {
    color:red;
    font-size: 50px;
}

