.arial {
    font-family: Arial, Helvetica, sans-serif;
}
.fontsize30 {
    font-size: 15px;
}
.italic {
    font-style: italic;
}
.font700 {
    font-weight: 700;
}
.colorred {
    color: red;
}
.textcenter {
    text-align: center;
}
.decoration {
    text-decoration: line-through;
}
.textright {
    text-align: right;
}
.underline {
    text-decoration: underline;
}   
.shadow {
    text-shadow: 1px 1px 1px;
}
.uppercase {
    text-transform: uppercase;
}
.capitalize {
    text-transform: capitalize;
}
