/* body {
    padding: 30px;
}

.block{
    margin: 0px 0px 30px 0px;
}
.block p:last-child{
   text-transform: uppercase;

}
.link:visited{
    color: violet;
}

.link{
    color: red;
}

.link:hover{
    text-decoration: underline;
    color: #ffffff;
}

.link:active{
    color: yellow;
}

.block:hover{
    background-color: #1de782;
    color: #ffffff;
}

.text-input {
    border: 1px solid #1de782;
    height: 50px;
    padding: 0px 15px;
    font-size: 18px;
    width: 300px;
    margin: 0px 0px 20px 0px;
}

.text-input:focus{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.text-button {
    border: 1px solid #1de782;
    display: block;
    height: 50px;
    width: 332px;
    background-color: #1de782;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
}

.text-button:hover{
    background-color: cornflowerblue;
    color: #000000
}
.text-button:active{
    background-color: aqua;
}
.list li:nth-child(even){
    text-transform: uppercase;
} */

body {
    padding: 100px 400px 0px 400px;
}

.heading {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700px;
    text-transform: uppercase;
}


.block-list ol{
    font-size: 20px;
    margin: 0px 0px 15px -50px;
   
}

.list ol {
    background: url(img1.png)left no-repeat;
    padding: 0px 0px 0px 50px;
}

.block-list2 ol{
    font-size: 20px;
    margin: 0px 0px 15px -50px ;
    background: url(img1.png)left no-repeat;
}

.list2 ol {
    background: url(img1.png)left no-repeat;
    padding: 0px 0px 0px 50px;
}

.block-list ol:nth-child(1) {
    text-decoration: line-through;
}

.block-list ol:nth-child(2) {
    font-weight: 700;
    
}

.block-list ol:nth-child(3) {
    font-style: italic;  
}

.block-list ol:nth-child(4) {
    text-transform: uppercase;
}

.link:hover{
    color:red;
}

.block-subit {
    padding: 100px 150px 50px 0px;
}

.subit {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    line-height: 44px;
    width: 225px;
    height: 44px;
    padding: 0px ;
    border-radius: 30px;
    background-color: rgb(56, 221, 185);
    color: aliceblue;
}

.subit:hover {
    background-color: #137c77;
}

.subit:active{
    background-color: #636e6c;
}

.text-input {
    margin: 80px 0px 0px 0px;
    max-height: 50px;
    border: 1px solid #000000;
    height: 50px;
    width: 300px;
    font-size: 20px;
}
.text-input:focus{
    box-shadow: 0 0 15px rgb(56, 221, 185);;
}
